In [ ]:
import numpy as np

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel('/content/RechargeGW.xlsx',sheet_name='Working data')

In [ ]:
df.head(100)

,DBV,DISTRICT,BLOCK,VILLAGE,1986,1987,1988,1989,1990,1991,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,BATHINDA | TALWANDI SABO | JAJJAL,BATHINDA,TALWANDI SABO,JAJJAL,0.03,-0.84,-2.61,-0.21,-0.60,-0.20,...,-0.31,-0.45,-1.32,-0.66,0.44,-0.50,0.30,0.300,4.683333,0.65
1,BATHINDA | BATHINDA | TEONA,BATHINDA,BATHINDA,TEONA,-0.48,0.19,-0.58,0.25,-1.49,0.15,...,-0.93,-0.34,0.20,-0.74,0.19,0.18,0.08,0.175,0.350000,-0.45
2,BATHINDA | SANGAT | RAIKE KALAN,BATHINDA,SANGAT,RAIKE KALAN,-0.58,-0.06,-0.07,-0.14,-0.11,-0.05,...,-0.75,-0.95,0.35,-0.10,0.10,0.60,-0.25,0.300,0.300000,0.10
3,BATHINDA | NATHANA | KALYAN SUKHA,BATHINDA,NATHANA,KALYAN SUKHA,-0.31,0.48,-2.05,0.49,-0.53,0.46,...,-0.60,0.65,1.25,0.90,0.26,1.25,2.15,1.780,1.650000,2.05
4,BATHINDA | NATHANA | LEHRA BEGA,BATHINDA,NATHANA,LEHRA BEGA,-0.30,0.34,-0.52,0.18,-1.29,0.19,...,-0.25,0.25,1.10,-0.15,0.55,0.80,1.45,0.850,1.350000,-12.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,PATHANKOT | PATHANKOT | MIRTHAL,PATHANKOT,PATHANKOT,MIRTHAL,-1.37,NaN,-2.85,-0.90,-0.89,-1.90,...,-1.87,-2.25,0.20,-0.70,0.50,NaN,NaN,NaN,NaN,NaN
96,SANGRUR | SANGRUR | LONGOWAL,SANGRUR,SANGRUR,LONGOWAL,-0.22,0.48,-3.93,0.87,-0.25,0.38,...,0.65,0.47,1.60,0.60,NaN,NaN,NaN,NaN,NaN,NaN
97,AMRITSAR | RAYYA | WADALA KALAN,AMRITSAR,RAYYA,WADALA KALAN,0.35,NaN,-4.57,-0.74,-1.87,-0.84,...,NaN,NaN,NaN,-0.10,0.20,-0.30,0.70,-0.600,0.200000,0.90
98,HOSHIARPUR | BHUNGA | BHUNGA,HOSHIARPUR,BHUNGA,BHUNGA,-1.70,-3.43,-3.31,-1.04,2.64,-1.14,...,NaN,NaN,NaN,11.35,NaN,0.99,1.40,-0.105,1.200000,-1.20
99,HOSHIARPUR | DASUYA | SUSPUR,HOSHIARPUR,DASUYA,SUSPUR,NaN,NaN,NaN,NaN,NaN,NaN,...,-2.05,-3.05,-4.55,-4.50,-2.25,-1.40,-0.30,-0.200,-2.250000,-1.70

In [ ]:
df.columns

Index([     'DBV', 'DISTRICT',    'BLOCK',  'VILLAGE', 'LONG_DEG', 'LONG_MIN',
       'LONG_SEC', 'LATI_DEG', 'LATI_MIN', 'LATI_SEC',       1986,       1987,
             1988,       1989,       1990,       1991,       1992,       1993,
             1994,       1995,       1996,       1997,       1998,       1999,
             2000,       2001,       2002,       2003,       2004,       2005,
             2006,       2007,       2008,       2009,       2010,       2011,
             2012,       2013,       2014,       2015,       2016,       2017,
             2018,       2019,     'NULL',      'SUM', 'NOT NULL',  'Average',
            'STD'],
      dtype='object')

In [ ]:
df.drop(['LONG_DEG', 'LONG_MIN',
       'LONG_SEC', 'LATI_DEG', 'LATI_MIN', 'LATI_SEC','NULL',      'SUM', 'NOT NULL',  'Average',
            'STD'],axis=1,inplace=True)

In [ ]:
df.replace(0,np.nan,inplace=True)